version: '3.7'
services:
  redis01-master:
    image: redis 
    user: root
    sysctls:
      net.core.somaxconn: 20000
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    ports:
      - 6379:6379
      - 16379:16379
    volumes:
      - ./redis01-master/conf/redis.conf:/usr/local/etc/redis/redis.conf
      - /var/log/redis/redis01-master/redis.log:/var/log/redis/redis.log
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      nlu-redis:
        ipv4_address: 172.19.0.10
  
  redis02-master:
    image: redis
    user: root
    sysctls:
      net.core.somaxconn: 20000
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    ports:
      - 6380:6379
      - 16380:16379
    volumes:
      - ./redis02-master/conf/redis.conf:/usr/local/etc/redis/redis.conf
      - /var/log/redis/redis02-master/redis.log:/var/log/redis/redis.log
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      nlu-redis:
        ipv4_address: 172.19.0.20
  
  redis03-master:
    image: redis
    user: root
    sysctls:
      net.core.somaxconn: 20000
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    ports:
      - 6381:6379
      - 16381:16379
    volumes:
      - ./redis03-master/conf/redis.conf:/usr/local/etc/redis/redis.conf
      - /var/log/redis/redis03-master/redis.log:/var/log/redis/redis.log
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      nlu-redis:
        ipv4_address: 172.19.0.30
  
  redis01-slave:
    image: redis
    user: root
    sysctls:
      net.core.somaxconn: 20000
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    ports:
      - 6382:6379
      - 16382:16379
    volumes:
      - ./redis01-slave/conf/redis.conf:/usr/local/etc/redis/redis.conf
      - /var/log/redis/redis01-slave/redis.log:/var/log/redis/redis.log
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      nlu-redis:
        ipv4_address: 172.19.0.40
  
  redis02-slave:
    image: redis 
    user: root
    sysctls:
      net.core.somaxconn: 20000
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    ports:
      - 6383:6379
      - 16383:16379
    volumes:
      - ./redis02-slave/conf/redis.conf:/usr/local/etc/redis/redis.conf
      - /var/log/redis/redis02-slave/redis.log:/var/log/redis/redis.log
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      nlu-redis:
        ipv4_address: 172.19.0.50
  
  redis03-slave:
    image: redis
    user: root
    sysctls:
      net.core.somaxconn: 20000
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    ports:
      - 6384:6379
      - 16384:16379
    volumes:
      - ./redis03-slave/conf/redis.conf:/usr/local/etc/redis/redis.conf
      - /var/log/redis/redis03-slave/redis.log:/var/log/redis/redis.log
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      nlu-redis:
        ipv4_address: 172.19.0.60
  
  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=redis01-master:172.19.0.10:6379,redis02-master:172.19.0.20:6380,redis03-master:172.19.0.30:6381,redis01-slave:172.19.0.40:6382,redis02-slave:172.19.0.50:6383,redis03-slave:172.19.0.60:6384
    ports:
      - 8081:8081

networks:
  nlu-redis:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.19.0.0/16
        - gateway: 172.19.0.1